{% extends 'base.html.twig' %}

{% block body %}

    <div class="my-bg">
        <div class="container">
            <h2>Available options</h2>

            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#add-task" aria-expanded="false" aria-controls="add-task">
                Add new task
            </button>

            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#generate-report" aria-expanded="false" aria-controls="generate-report">
                Generate report
            </button>

            <div class="row mt-5">

                <div class="collapse mx-auto show" id="add-task">
                    <div class="card card-body">
                        <form method="POST" action="{{ path('create_task') }}" class="mx-auto">

                            {% for message in app.flashes('error') %}
                                <div class="alert alert-danger">
                                    {{ message }}
                                </div>
                            {% endfor %}

                            <div class="form-group">
                                <label for="title">Task title</label>
                                <input type="text" name="title" class="form-control" placeholder="Enter the title here" required>
                                <small class="form-text text-muted">What is your task?</small>
                            </div>

                            <div class="form-group">
                                <label for="comment">Task comment</label>
                                <textarea class="form-control" name="comment" rows="3" placeholder="Enter the title comment" required></textarea>
                                <small class="form-text text-muted">Any notes on that?</small>
                            </div>

                            <div class="form-group">
                                <label for="date">Task date</label>
                                <input type="date" class="form-control" name="date" placeholder="Click to select the date" required>
                                <small class="form-text text-muted">Schedule your task</small>
                            </div>

                            <div class="form-group">
                                <label for="duration">Task duration</label>
                                <input type="number" name="duration" min="0" class="form-control" placeholder="Time in minutes" required>
                                <small class="form-text text-muted">How much time you're about to spend on it?</small>
                            </div>

                            <button type="submit" class="btn btn-primary mb-2">Save task</button>
                        </form>
                    </div>
                </div>

                <div class="collapse mx-auto" id="generate-report">
                    <div class="card card-body">
                        <form method="POST" action="{{ path('generate_report') }}" class="mx-auto">

                            {% for message in app.flashes('report') %}
                                <div class="alert alert-danger">
                                    {{ message }}
                                </div>
                            {% endfor %}

                            <div class="form-group">
                                <label for="date_from">Date from</label>
                                <input type="date" class="form-control" name="date_from" placeholder="Click to select the date" required>
                                <small class="form-text text-muted">Since</small>
                            </div>

                            <div class="form-group">
                                <label for="date_to">Date to</label>
                                <input type="date" class="form-control" name="date_to" placeholder="Click to select the date" required>
                                <small class="form-text text-muted">To</small>
                            </div>

                            <button type="submit" class="btn btn-primary mb-2">Download CSV report</button>
                        </form>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <ul id="tasks">
        {% for task in tasks %}
            <li>
               <span class="task-list-item">{{ task.title }} (comment: {{ task.comment }}) added on {{ task.date.date | date("m/d/Y") }}</span><span class="date">{{ task.timeSpent }} mins</span>
            </li>
        {% endfor %}
    </ul>

    {{ knp_pagination_render(tasks) }}

{% endblock %}
